USE [master]
GO
/****** Object:  Database [BTCKV2]    Script Date: 05/21/2019 20:31:42 ******/
CREATE DATABASE [BTCKV2] ON  PRIMARY 
( NAME = N'BTCKV2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\BTCKV2.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BTCKV2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\BTCKV2_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BTCKV2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BTCKV2]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 05/21/2019 20:31:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account](
	[UN] [varchar](16) NOT NULL,
	[PW] [varchar](16) NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[UN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Account] ([UN], [PW]) VALUES (N'p111', N'123')
INSERT [dbo].[Account] ([UN], [PW]) VALUES (N'P123', N'123456789')
INSERT [dbo].[Account] ([UN], [PW]) VALUES (N'p124', N'1563')
/****** Object:  StoredProcedure [dbo].[USP_GetAccByUserName]    Script Date: 05/21/2019 20:31:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_GetAccByUserName]
@UserName varchar(16)
as
begin
	select * from Account where UN=@UserName
end
GO
/****** Object:  Table [dbo].[ThuVienSV]    Script Date: 05/21/2019 20:31:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ThuVienSV](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](100) NOT NULL,
	[Loai] [nvarchar](50) NOT NULL,
	[Soluong] [nvarchar](50) NOT NULL,
	[MoTa] [ntext] NOT NULL,
	[userCapNhap] [varchar](16) NOT NULL,
	[NgayCapNhap] [date] NULL,
 CONSTRAINT [PK_ThuVienSV] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ThuVienSV] ON
INSERT [dbo].[ThuVienSV] ([id], [Ten], [Loai], [Soluong], [MoTa], [userCapNhap], [NgayCapNhap]) VALUES (12, N'Con Biển đầu nấm', N'người', N'1000', N'Đầu nấm', N'p123', CAST(0xAB3F0B00 AS Date))
SET IDENTITY_INSERT [dbo].[ThuVienSV] OFF
/****** Object:  StoredProcedure [dbo].[USP_GetInforByTen2]    Script Date: 05/21/2019 20:31:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_GetInforByTen2]
@Ten nvarchar(100)
as
begin
	select * from ThuVienSV where Ten like @Ten 
end
GO
/****** Object:  StoredProcedure [dbo].[USP_GetInforByTen]    Script Date: 05/21/2019 20:31:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_GetInforByTen]
@Ten nvarchar(100)
as
begin
	select * from ThuVienSV where Ten=@Ten 
end
GO
/****** Object:  Default [DF_ThuVienSV_NgayCapNhap]    Script Date: 05/21/2019 20:31:43 ******/
ALTER TABLE [dbo].[ThuVienSV] ADD  CONSTRAINT [DF_ThuVienSV_NgayCapNhap]  DEFAULT (getdate()) FOR [NgayCapNhap]
GO
/****** Object:  ForeignKey [FK_ThuVienSV_Account]    Script Date: 05/21/2019 20:31:43 ******/
ALTER TABLE [dbo].[ThuVienSV]  WITH CHECK ADD  CONSTRAINT [FK_ThuVienSV_Account] FOREIGN KEY([userCapNhap])
REFERENCES [dbo].[Account] ([UN])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThuVienSV] CHECK CONSTRAINT [FK_ThuVienSV_Account]
GO
